body {
  background-color: #FFFCF2;
  color: #3C3C3C;
  font-size: 14px;
  line-height: 1.5;
  font-family: "Geologica", sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-image: url(../images/grafika-top.png);
  background-size: cover;
  background-position: right top;
}
.header__title {
  padding-left: 40px;
}
@media screen and (min-width: 700px) {
  .header {
    flex-direction: column;
    align-items: center;
    max-width: 90%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1100px) {
  .header {
    flex-direction: row;
    align-items: flex-end;
    max-width: 70%;
  }
}
.header__logo {
  margin: 30px;
  width: 100%;
}
@media screen and (min-width: 700px) {
  .header__logo {
    margin: 20px;
  }
}
@media screen and (min-width: 1100px) {
  .header__logo {
    margin-left: 30px;
  }
}

.menu {
  margin: 0;
}
@media screen and (min-width: 700px) {
  .menu {
    margin: 20px;
  }
}
@media screen and (min-width: 1100px) {
  .menu {
    margin-right: 40px;
  }
}
.menu__checkbox {
  position: absolute;
  left: -9999px;
}
.menu__checkbox:checked ~ .menu__list {
  display: block;
}
.menu__toggler {
  font-size: 30px;
  margin-right: 30px;
  align-items: flex-end;
  cursor: pointer;
}
@media screen and (min-width: 700px) {
  .menu__toggler {
    display: none;
  }
}
.menu__list {
  display: none;
  list-style: none;
  position: fixed;
  right: 0;
  z-index: 3;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #FFFCF2;
  text-align: center;
}
@media screen and (min-width: 700px) {
  .menu__list {
    display: flex !important;
    position: static;
    background-color: #D6DFC4;
  }
}
.menu__link {
  text-decoration: none;
  color: #3C3C3C;
  font-weight: 600;
  display: inline-block;
  padding: 10px 10px 5px 10px;
}
.menu__link:hover, .menu__link:active {
  background-color: #D6DFC4;
}
@media screen and (min-width: 700px) {
  .menu__link {
    padding: 15px 15px 10px 15px;
  }
  .menu__link:hover, .menu__link:active {
    background-color: #F2F6F0;
  }
}
@media screen and (min-width: 1400px) {
  .menu__link {
    padding: 12px;
  }
}

.hero {
  background-image: url(../images/timo-c-dinger-Oo3L5fL1lBU-unsplash.jpg);
  background-size: cover;
  background-position: center;
  color: #FFFCF2;
}
@media screen and (min-width: 700px) {
  .hero {
    max-width: 90%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1100px) {
  .hero {
    max-width: 70%;
  }
}
.hero__text {
  padding: 100px;
}
.hero__text h1 {
  font-size: 30px;
  text-shadow: 0 3px 10px rgba(0, 0, 0, 0.7);
}
.hero__text p {
  font-style: italic;
  font-size: 16px;
  text-shadow: 0 3px 10px rgba(0, 0, 0, 0.7);
}

.main, .galery, .contact, .pricelist {
  background-color: #F2F6F0;
}
@media screen and (min-width: 700px) {
  .main, .galery, .contact, .pricelist {
    max-width: 90%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1100px) {
  .main, .galery, .contact, .pricelist {
    max-width: 70%;
  }
}
.main__text, .galery__text, .contact__text, .pricelist__text {
  padding: 20px 40px;
}

.galery {
  background-color: #D6DFC4;
}
.galery__images {
  display: grid;
  grid-template-columns: 1fr;
}
@media screen and (min-width: 500px) {
  .galery__images {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1000px) {
  .galery__images {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.galery__images img {
  width: 100%;
  aspect-ratio: 3/4;
  -o-object-fit: contain;
     object-fit: contain;
}

.galery__image4, .galery__image5, .galery__image6 {
  display: none;
}

@media screen and (min-width: 500px) {
  .galery__image4 {
    display: inline;
  }
}
@media screen and (min-width: 1000px) {
  .galery__image5, .galery__image6 {
    display: inline;
  }
}
.pricelist__list {
  padding: 0 0 20px 20px;
}
.pricelist__list p {
  font-style: italic;
  margin: 0;
}
.pricelist__list h3 {
  margin-top: 25px;
  margin-bottom: 5px;
}

.contact {
  background-color: #D6DFC4;
}
.contact__form {
  width: 100%;
  max-width: 300px;
  padding: 0 60px;
}
.contact__form-field {
  margin-bottom: 15px;
}
.contact__form-field > label {
  display: block;
}
.contact__form-field input[type=text], .contact__form-field input[type=email], .contact__form-field textarea {
  width: 100%;
  border: 1px solid #3C3C3C;
  background-color: #FFFCF2;
  font-size: 14px;
  padding: 5px 10px;
}
.contact__button {
  background-color: #3C3C3C;
  color: white;
  padding: 10px 20px;
  border: 0;
  color: #FFFCF2;
  font-size: 14px;
  cursor: pointer;
}
.contact__button:hover {
  background-color: #737373;
}
.contact__info {
  max-width: 300px;
  padding: 20px 60px;
}
.contact__info h3 {
  margin: 20px 0;
}
.contact__info p {
  margin: 0 0 20px 0;
}
.contact__link {
  color: #3C3C3C;
}
@media screen and (min-width: 800px) {
  .contact__wrapper {
    display: flex;
  }
}

.title::after {
  content: "";
  display: block;
  width: 100px;
  height: 5px;
  background-color: #FFFCF2;
  margin-top: 10px;
  margin-left: -40px;
}

.button--up {
  background-color: #737373;
  opacity: 0.5;
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  right: 20px;
}
.button--up:hover {
  opacity: 1;
}

.footer {
  background-image: url(../images/grafika-bottom.png);
  background-size: cover;
  background-position: right top;
  color: #FFFCF2;
  text-align: center;
}
@media screen and (min-width: 700px) {
  .footer {
    max-width: 90%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1100px) {
  .footer {
    max-width: 70%;
  }
}
.footer__link {
  color: #FFFCF2;
}
.footer__left {
  padding: 100px 20px 0 20px;
}
.footer__right {
  padding: 0 20px 20px 20px;
}
@media screen and (min-width: 700px) {
  .footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  .footer__left {
    padding: 100px 20px 20px 20px;
  }
  .footer__right {
    padding: 100px 20px 20px 20px;
  }
}
@media screen and (min-width: 900px) {
  .footer {
    justify-content: flex-end;
  }
  .footer__right {
    padding-right: 40px;
  }
}
@media screen and (min-width: 700px) {
  .footer__left {
    padding-top: 150px;
  }
  .footer__right {
    padding-top: 150px;
  }
}/*# sourceMappingURL=style.css.map */